html{
    font-size: 10px;
}
.header{
    background-color: rgb(99, 219, 219);
    width: 100%;
    height: 25rem;
}
#demo{
    font-family: 'Quicksand';
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.right-float{
    float: right;
}
.left-img{
    height: 4rem;
    margin: 2rem 2rem 2rem 2rem;
}
.mag-img{
    height: 4rem;
    margin: 2rem 1rem;
}
.menu-img{
    height: 4rem;
    margin: 2rem 4rem;
}
.adv{
    height: 43rem;
    width: 130rem;
    border: 2px solid orange;
    border-radius: 4rem;
    margin: 0px auto;
    margin-top: 4rem;
}
article{
    width: 90rem;
}
#demo1{
    font-size: 4rem;
    font-family: 'QuickSand';
    margin: 6rem 2rem 2rem 4rem;
}
#demo2{
    font-size: 2rem;
    font-family: 'QuickSand';
    margin: 2rem 2rem 2rem 4rem;
    max-width: 90rem;
}
#demo3,#demo4{
    font-size: 2.5rem;
    font-family: 'QuickSand';
    line-height: 1rem;
    margin-left: 6rem;
    font-weight: 650;
}
#demo4{
    float: right;
}

.btn{
    height: 5rem;
    width: 22rem;
    background-color: white;
    border-radius: 1.5rem;
    margin: 1.5rem 0rem 0rem 35rem;
    border-style: none;
    border: 1px solid orange;
    color: orange;
    font-family: "QuickSand";
    font-size: 1.5rem;
}
.bck-btn{
    background-color: inherit;
    border-style: none;
}
.btn:focus,.bck-btn{
    outline: 0;
}
* {box-sizing: border-box}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
.signupbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}


/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px;
    background-color: #f44336;
    border-style: none;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}